<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body>
    <div class="container">
        <h1>Editar Usuario</h1>
        <form th:action="@{/user/update}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}" />
            <label for="name">Nombre:</label>
            <input type="text" th:field="*{usu_nombre}" required />
            <br />
            <label for="email">Email:</label>
            <input type="email" th:field="*{usu_email}" required />
            <br />
            <button type="submit">Actualizar</button>
            <a href="/users" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
