<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body>
    <div class="container mt-5">
        <h1>List of Users</h1>
        <table id="customers">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.usu_nombre}"></td>
                    <td th:text="${user.usu_email}"></td>
                    <td><a th:href="@{/user/{id}(id=${user.id})}">Ver</a></td>
                    <td>
				    <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-warning">Editar</a>
					</td>
					<td>
				    <form th:action="@{/user/delete/{id}(id=${user.id})}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este usuario?');">
				        <button type="submit" class="btn btn-danger">Eliminar</button>
				    </form>
					</td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
